* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #fff;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 2;
    position: fixed;
    top: 0;

    & .logo {
        width: 50vw;
        position: absolute;
        left: 10rem;
    }

    & nav {
        display: flex;
        justify-content: space-around;
        width: 50vw;
        position: absolute;
        right: 0;
        left: auto;
    }
}

.container {
    margin-top: 20vh;
    width: 100vw;
    height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;

    & .arrows {
        position: fixed;
        top: 60vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;

        & .arrow-left,
        .arrow-right {
            background-color: black;
            color: #fff;
            width: 100px;
            height: 50px;
            opacity: 0.8;
            cursor: pointer;
        }

        & .arrow-right {
            transition: all 600ms ease-in-out;
        }
    }

    & .gallery-main {
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;

        & .item {
            width: 100vw;
            height: 80vh;
            flex-shrink: 0;
            opacity: 0.5;
        }

        & .current-item {
            opacity: 1;
        }
    }
}